# Created by Nimby
--path:"/home/monofuel/.nimby/pkgs/chroma/src"
--path:"/home/monofuel/.nimby/pkgs/vmath/src"
--path:"/home/monofuel/.nimby/pkgs/pixie/src"
--path:"/home/monofuel/.nimby/pkgs/zippy/src"
--path:"/home/monofuel/.nimby/pkgs/flatty/src"
--path:"/home/monofuel/.nimby/pkgs/crunchy/src"
--path:"/home/monofuel/.nimby/pkgs/nimsimd/src"
--path:"/home/monofuel/.nimby/pkgs/bumpy/src"
--path:"/home/monofuel/.nimby/pkgs/shady/src"
--path:"/home/monofuel/.nimby/pkgs/opengl/src"
--path:"/home/monofuel/.nimby/pkgs/ws/src"
--path:"/home/monofuel/.nimby/pkgs/urlly/src"
--path:"/home/monofuel/.nimby/pkgs/silky/src"
--path:"/home/monofuel/.nimby/pkgs/windy/src"
--path:"/home/monofuel/.nimby/pkgs/dx12/src"
--path:"/home/monofuel/.nimby/pkgs/fluffy/src"
--path:"/home/monofuel/.nimby/pkgs/jsony/src"
--path:"/home/monofuel/.nimby/pkgs/vk14/src"
--path:"/home/monofuel/.nimby/pkgs/metal4/src"
--path:"/home/monofuel/.nimby/pkgs/paddy/src"
--path:"/home/monofuel/.nimby/pkgs/openal/src"
--path:"/home/monofuel/.nimby/pkgs/slappy/src"
--path:"/home/monofuel/.nimby/pkgs/supersnappy/src"
